.memberCardsHolder {
    display: flex;
    border-radius: 20px;
    background-color: var(--primaryBlack);
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    row-gap: 1rem;
    height: auto;
    padding: 0 0 10px 0;
}
.memberCard {
    border: 1px solid #acb3db68;
    background-color: var(--secondaryBlack);
    border-radius: 20px;
    width: calc(50% - 5px);
    box-shadow: 1px 5px 3px var(--primaryPurple);
    min-height: 100%;
    padding: 20px;
}

.memberCard img {
    width: 100%;
    border-radius: 50%;
}

.memberCardLeft {
    width: 40%;
}

.memberCardRight {
    width: 100%;
}

.memberCardRightTop{
    justify-content: left;
}

.socialLinks {
    justify-content: left;
    gap: 1rem;
}

.socialLinks a img {
    width: 25px;
    background-color: #c6c9d7;
}

.socialLinks a img:hover {
    background-color: var(--secondaryPurple);
}

@media (max-width: 839px){
    .memberCard{
        width: 100%;
    }
}