.navBar {
    padding: 15px;
    width: 100%;
    z-index: 2;
    background-color: var(--primaryBlack);
    overflow: hidden;
    position: sticky;
    top: 0px;
    border-bottom: 2px solid var(--primaryPurple);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.heroPage {
    background-color: var(--secondaryBlack);
    margin-top: 10px;
    width: 100%;
    min-height: 350px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

}

.heroTextHolder {
    height: 100%;
    width: 80%;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    gap: 0.7rem;
}

.heroPhotoHolder {
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.heroPhotoHolder a {
    font-size: 20px;
}

.imgProfile {
    width: 50%;
    min-width: 150px;
    border-radius: 50%;
    z-index: 1;
}


@media (max-width: 768px) {
    .heroPage{
        text-align: center;
        flex-direction: column-reverse;
        border: none;
    }
    .navBar ul li a{
        font-size: 85%;
    }
}