.servicesCardHolder {
    width: 100%;
    border-radius: 20px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.servicesCard {
    height: 250px;
    background-color: var(--secondaryBlack);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    text-align: center;
    transition: transform 0.1s ease-in-out;
    border-top: 2px double var(--primaryPurple);
    gap: 1rem;
}

.servicesCard:hover {
    transform: scale(1);
}

.servicesCardImgHolder {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesCardImgHolder img {
    height: 80%;
}

@media (max-width: 950px) {
    .servicesCardHolder {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 490px) {
    .servicesCardHolder {
        grid-template-columns: repeat(1, 1fr);
    }
}