.UlStyle{
    list-style: none;
    gap: 1rem;
}

a{
  position: relative;
  text-decoration: none;
  color: var(--primaryTextColor)
}

a:Hover{
  color: var(--secondaryTextColor);
}

a::after {
  content: '';
  position: absolute;
  left: -1.5px;
  bottom: -8px;
  width: 0;
  height: 2px;
  background-color: var(--primaryPurple);
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}