.BluryBubble {
    filter: blur(50px);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: var(--primaryPurple);

    animation: bubblePulse 5s ease-in-out infinite;
}

@keyframes bubblePulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}