*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'MontserratRegular';
    scroll-behavior: smooth;
}

body{
    background-color: var(--primaryBlack);
    color: var(--primaryTextColor);
    padding: 10px;
    font-size: 1.5rem;
    min-height: 100vh;
    width: 100%;
}