:root{
    --primaryBlack: #0f0f0f;
    --secondaryBlack: #1f1f1f;

    --primaryPurple: #6100ed;
    --secondaryPurple: #807eff;
    
    --primaryTextColor: #fafafa;
    --secondaryTextColor: #acb3db;

    --largerHeadingSize: clamp(1.4rem, 1.5vw, 2.5rem);
    --headingFontSize: clamp(0.85rem, 0.85vw, 1.4rem);
    --normalFontSize: clamp(0.80rem, 0.8vw, 1.2rem);
}