:root{
    --primaryBlack: #0f0f0f;
    --secondaryBlack: #1f1f1f;

    --primaryPurple: #6100ed;
    --secondaryPurple: #807eff;
    
    --primaryTextColor: #fafafa;
    --secondaryTextColor: #acb3db;

    --headingFontSize: clamp(0.88rem, 0.80vw, 1.4rem);;
    --normalFontSize: clamp(0.9rem, 0.8vw, 1.6rem);;
}