.primaryLinkButtonStyle {
  position: relative;
  text-decoration: none;
  font-family: 'MontserratSemiBold';
}

.primaryLinkButtonStyle:hover {
  color: var(--secondaryTextColor);
}

.primaryLinkButtonStyle::after {
  content: '';
  position: absolute;
  left: -1.5px;
  bottom: -8px;
  width: 0;
  height: 2px;
  background-color: var(--primaryPurple);
  transition: width 0.3s ease;
}

.primaryLinkButtonStyle:hover::after {
  width: 100%;
}

.secondaryLinkButtonStyle {
  position: relative;
  text-decoration: none;
  color: var(--secondaryPurple);
  font-size: var(--normalFontSize);
}

.secondaryLinkButtonStyle:hover {
  color: var(--primaryPurple);
}