:root{
    --primaryBlack: #0f0f0f;
    --secondaryBlack: #1f1f1f;
    --primaryPurple: #6100ed;
    --secondaryPurple: #5308bd;
    --primaryTextColor: #fafafa;
    --secondaryTextColor: #acb3db;
}

@font-face {
  font-family: 'QuickZap';
  src: url('../public/fonts/QuickZap-ZVPmZ.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotTrafficDemo';
  src: url('../public/fonts/RobotTrafficDemo-BLPlw.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarseilleFreeRegular';
  src: url('../public/fonts/MarseilleFreeRegular-MAXEB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'RobotTrafficDemo', sans-serif;
}

body{
    background-color: var(--primaryBlack);
    color: var(--primaryTextColor);
    padding: 10px;
    font-size: large;
}

